/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

/* Responsive */
.active{
    width:50;
    height:50;
    font-size: 1.5em;
    color: green;
}

.inactive{
    font-size: 1.5em;
    color:red;
}

.pass{
    color: green;
}
.fail{
    color: red;
}

.bold{
    font-weight: bold;
    font-size: 2em;
}

.odd{
    background-color:aliceblue;
}
.even{
    background-color:lightgrey;
}

.loader{
    position:absolute;
    top: 45%;
    left:44%;
    width:150px;
    height:72px;
    border:1px solid #ddd;
    background-color:#fff;
}